/* Stili di base */
body {
  font-family: 'Georgia', serif;
  background-color: #5c3d31; /* Colore marrone medievale */
  color: #f4e1c1;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h1 {
  color: #d1b19d;
  font-family: 'Times New Roman', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#gioco {
  margin-top: 30px;
  border: 2px solid #d1b19d;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; /* Aggiungi una larghezza del 100% per il gioco */
  max-width: 100%; /* Assicura che non vada oltre la larghezza dello schermo */
  box-sizing: border-box;
}

form {
  margin-bottom: 20px;
  background-color: #3e2a2a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input, button {
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-radius: 5px;
  border: 1px solid #d1b19d;
  background-color: #6a4e42;
  color: #f4e1c1;
  width: 100%;
  max-width: 300px; /* Impostiamo una larghezza massima per non farli diventare troppo grandi */
}

button {
  background-color: #d1b19d;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a18660;
}

#messaggioRisultato {
  color: #f4e1c1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* Media query per dispositivi mobili */
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  form {
    padding: 15px;
    width: 100%; /* Rende il modulo al 100% della larghezza */
  }

  input, button {
    width: 90%;
    font-size: 16px;
  }

  #gioco {
    margin-top: 20px;
    padding: 15px;
  }

  #messaggioRisultato {
    font-size: 18px;
  }
}
